html {
	background-color:#B5DFCA;
	font-family: 'Poppins', sans-serif;
}
body {
	background-color:#A1CDA8;
	text-align:center;
	padding-top:5% 0;
	font-family: 'Poppins', sans-serif;
}
h2 {
	text-align:center;
	color:#627264;
	font-family: 'Poppins', sans-serif;
}
ul {
	background-color:#C5E7E2;
float: left;
width: 100%;
padding: 0;
margin: 0;
list-style: none;
align:center;
font-family: 'Poppins', sans-serif;
}

li a {
background-color: powderblue;	
transition: background-color 2s;
display: block;
float: center;
text-align: center;
font-size: 1.2em;
width: 130px;
text-decoration: none;
color: #95F9E3;
font-family: 'Poppins', sans-serif;
padding: 10px 15px;
margin: 0px 1px 1px 0px;
border: 1px solid #95F9E3;
border-radius: 3px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
box-shadow: 0px 2px 3px gray;
-moz-box-shadow: 0px 2px 3px gray;
-webkit-box-shadow: 0px 2px 3px gray;
}

li a:hover {
color: #49D49D;
background: aqua;
border: 1px solid #49D49D;
font-family: 'Poppins', sans-serif;
}
